.burger {
    --menu-link-color: var(--color-text-secondary);
    --menu-link-border: 1px solid rgba(255, 255, 255, 0.40);
    --menu-link-hover-bg: var(--color-accent-light);
    --menu-link-hover-border: 1px solid var(--color-accent-light);
    --menu-link-hover-color: var(--color-accent);
    --menu-w: 120px;
    --menu-link-font: 14px;
    
    --auth-login-border: 1px solid rgba(255, 255, 255, 0.40);
    --auth-login-hover: var(--color-accent-light);
    --auth-login-hover-color: var(--color-accent);
    --auth-fl-d: column;
    --auth-link-w: 178px;

    --auth-logout-bg: var(--color-accent-light);
    --auth-logout-color: var(--color-accent);
    --auth-logout-hover: var(--color-accent-light-hover);
    --auth-logout-hover-color: var(--color-accent);
}

.backdrop {
    position: fixed;
    inset: 0;
    z-index: 40;
}

.panel {
    position: fixed;
    top: 0;
    right: 0;
    height: 100dvh;
    width: 218px;
    max-width: 85vw;
    background-color: var(--burger-bg, var(--color-accent));
    box-shadow: -8px 0 24px rgba(0, 0, 0, .1);
    padding: 236px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 50;

    transform: translateX(100%);
    transition: transform 300ms ease;
    will-change: transform;
}

.panelOpen {
    transform: translateX(0%);
}

.panelClosing {
    transform: translateX(100%);
}

.closeBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    position: fixed;
    top: 28px;
    right: 20px;
}

.icon {
    color: var(--burger-icon, var(--color-text-secondary));
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav a {
    padding: 15px 0;
}

@media (min-width: 768px) {
    .burger {
        --menu-link-font: 16px;
    
        --auth-fl-d: row;
        --auth-link-w: auto;
    }
    
    .panel {
        width: 374px;
        padding: 369px 49px 40px;
    }

    .closeBtn {
        top: 40px;
        right: 32px;
    }

    .icon {
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 1280px) {
    .btn {
        display: none;
    }
}

@media (prefers-reduced-motion: reduce) {
    .backdrop,
    .panel {
        transition: none !important;
    }
}