.wrap {
    --pag-icon-w: 6px;
    --pag-icon-h: 12px;

    display: flex;
    flex-direction: row;
    gap: 11px;
    max-width: 334px;
    margin: 0 auto;
}

.nav {
    display: flex;
    gap: 6px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    border: 1px solid rgba(38, 38, 38, 0.20);
    border-radius: 50%;
    background-color: transparent;
    color: var(--color-text);
}

.btn:disabled {
    border: 1px solid rgba(38, 38, 38, 0.05);
    cursor: not-allowed;
}

.icon {
    width: var(--pag-icon-w);
    height: var(--pag-icon-h);
    color: var(--color-text);
}

.pages {
    display: flex;
    gap: 10px;
}

.dots {
    border: 1px solid rgba(38, 38, 38, 0.05);
}

.page {
    border: 1px solid rgba(38, 38, 38, 0.05);
    color: var(--color-text);
}

.active {
    border: 1px solid var(--color-accent);
    background-color: var(--color-accent);
    color: var(--color-text-secondary);
}

@media screen and (max-width: 374px) {
    .wrap {
        gap: 8px;
        max-width: 100%;
    }

    .nav {
        gap: 4px;
    }

    .btn {
        width: 32px;
        height: 32px;
    }

    .pages {
        gap: 6px;
    }
}

@media screen and (min-width: 768px) {
    .wrap {
        --pag-icon-w: 7px;
        --pag-icon-h: 14px;
        gap: 24px;
        max-width: none;
        width: 446px;
    }

    .nav {
        gap: 8px
    }

    .btn {
        width: 44px;
        height: 44px;
    }
}