.modal {
    width: 335px;
}

.form {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    align-self: flex-start;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero {
    width: 80px;
    height: 80px;
    background-color: var(--color-accent-light);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.iconUser {
    color: var(--color-accent);
}

.row {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
}

.label {
    flex: 1;
}

.uploadBtn {
    width: 126px;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background-color: var(--color-accent-light);
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: -0.02em;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: background-color .3s ease;
}

.uploadBtn:hover {
    background-color: var(--color-accent-light-hover);
}

.uploadIcon {
    color: var(--color-accent);
}

.input {
    width: 100%;
    height: 42px;
    border: 1px solid var(--color-accent);
    border-radius: 30px;
    padding: 12px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    padding: 13px 12px;
}

.inputs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 21px;
}

.submitBtn {
    width: 100%;
    border: none;
    background-color: var(--color-accent);
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--color-text-secondary);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    letter-spacing: -0.03em;
    transition: background-color .3s ease;
}

.submitBtn:hover {
    background-color: var(--color-accent-hover);
}

@media screen and (min-width: 768px) {
    .modal {
        width: 480px;
    }

    .form {
        padding: 50px;
    }

    .title {
        font-size: 18px;
    }
    
    .hero {
        width: 86px;
        height: 86px;
    }
    
    .row {
        width: 100%;
        margin-bottom: 20px;
    }

    .uploadBtn {
        width: 146px;
        padding: 12px 16px;
        font-size: 14px;
        line-height: 1.28;
    }
    
    .input {
        height: 52px;
        padding: 16px;
        font-size: 16px;
        line-height: 1.25;
    }

    .link {
        height: 42px;
        font-size: 14px;
        line-height: 1.28;
        padding: 12px;
    }
    
    .inputs {
        gap: 14px;
        margin-bottom: 40px;
    }
    
    .submitBtn {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 16px;
    }
}