.empty {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    margin-top: 10px;
    margin-bottom: 12px;
    opacity: 60%;
}

@media screen and (min-width: 768px) {
    .empty {
        font-size: 16px;
        margin-bottom: 50px;
    }
}