.modal {
    padding: 40px 28px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emojiContainer {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--color-accent-light);
    padding: 18px;
    align-content: center;
    justify-self: center;
    margin-bottom: 20px;
}

.emoji {
    width: 44px;
    height: 44px;
}

.title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 28px;
}

.actions {
    display: flex;
    gap: 8px;
}

.btn {
    width: 136px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.03em;
    transition: background-color .3s ease;
}

.approve {
    background-color: var(--color-accent);
    color: var(--color-text-secondary);
}

.approve:hover {
    background-color: var(--color-accent-hover);
}

.cancel {
    background-color: rgba(38, 38, 38, 0.05);
    color: var(--color-text);
}

.cancel:hover {
    background-color: rgba(38, 38, 38, 0.07);
}

@media screen and (min-width:768px) {
    .modal {
        padding: 80px;
        width: 448px;
    }

    .title {
        font-size: 24px;
        line-height: 1.15;
    }

    .btn {
        width: 140px;
        padding-top: 14px;
        padding-bottom: 14px;
    
        font-size: 16px;
    }
}