.card {
    flex-shrink: 0;
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
    padding: 18px 20px 40px;
    background-color: var(--color-bg-secondary);
    border-radius: 30px;
    position: relative;
}

.user {
    background-color: var(--color-accent);
    border-radius: 30px;
    padding: 10px 14px;
    display: flex;
    gap: 4px;
    align-items: center;
    position: absolute;
    top: 18px;
    left: 20px;
}

.badge {
    color: var(--color-text-secondary);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.icon {
    color: var(--color-text-secondary);
}

.editBtn {
    position: absolute;
    top: 18px;
    right: 20px;
}

@media screen and (min-width: 768px) {
    .card {
        max-width: none;
        width: 704px;
        padding: 40px;
        border-radius: 60px;
    }

    .user {
        top: 40px;
        left: 40px;
    }

    .editBtn {
        top: 40px;
        right: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .card {
        margin: 0;
        position: sticky;
        top: 32px;
        width: 520px;
        height: fit-content;
    }
}