.card {
    flex-shrink: 0;
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
    padding: 18px 20px 40px;
    background-color: var(--color-bg-secondary);
    border-radius: 30px;
}

@media screen and (min-width: 768px) {
    .card {
        max-width: none;
        width: 704px;
        padding: 40px;
        border-radius: 60px;
    }
}

@media screen and (min-width: 1280px) {
    .card {
        margin: 0;
        position: sticky;
        top: 32px;
        width: 520px;
        height: fit-content;
    }
}