.userBar {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    max-width: 200px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.iconContainer {
    padding: 10px;
    background-color: var(--color-accent-light);
}

.icon {
    color: var(--color-accent);
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: var(--auth-profile-color, var(--color-text));
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    transition: color .3s ease;
}

.userBar:hover .name {
    color: var(--auth-profile-hover-color, var(--color-accent));
}