.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    max-width: 335px;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .list {
        width: 704px;
        max-width: none;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (min-width: 1280px) {
    .list {
        width: 1154px;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px 32px;
        margin: 0 auto;
    }
}