.header {
    padding: 10px 0 0;
}

.homeHeader {
    padding: 10px 20px 0;

    --menu-link-color: var(--color-text-secondary);
    --menu-link-border: 1px solid rgba(255, 255, 255, 0.40);
    --menu-link-hover-bg: var(--color-accent-light);
    --menu-link-hover-border: 1px solid var(--color-accent-light);
    --menu-link-hover-color: var(--color-accent);

    --auth-login-border: 1px solid rgba(255, 255, 255, 0.40);
    --auth-login-hover: var(--color-accent-light);
    --auth-login-hover-color: var(--color-accent);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 375px;
    padding: 18px 20px 0;
    margin: 0 auto;
}

.homeContainer {
    background-color: var(--color-accent);
    border-radius: 30px 30px 0 0;
    max-width: 335px;
}

.logoHeader {
    --logo-text-size: 20px;
    --logo-icon-w: 14px;
    --logo-icon-h: 12px;
    --logo-gap: 2px;
}

.homeLogo {
    --logo-icon-color: var(--color-text-secondary);
    --logo-color: var(--color-text-secondary);
}

.navInline,
.authInline {
    display: none;
}

.right {
    display: flex;
    align-items: center;
}

.burgerBtn {
    border: none;
    background-color: transparent;
    width: 32px;
    height: 32px;
}

.burgerIcon {
    color: var(--color-text);
}

.homeBurgerIcon {
    color: var(--color-text-secondary);
}

.homeBurger {
    --burger-bg: var(--color-text-secondary);
    --burger-icon: var(--color-text);

    --menu-link-color: var(--color-text);
    --menu-link-border: 1px solid rgba(38, 38, 38, 0.15);
    --menu-link-hover-bg: var(--color-text-secondary);
    --menu-link-hover-border: 1px solid var(--color-accent);
    --menu-link-hover-color: var(--color-text);
    
    --auth-login-border: none;
    --auth-login-hover: var(--color-accent-hover);
    --auth-login-hover-color: var(--color-text-secondary);
}

@media screen and (min-width: 768px) {
    .header {
        padding: 16px 0 0;
    }
    
    .homeHeader {
        padding: 16px 32px 0;
    }
    
    .container {
        max-width: 768px;
        padding: 16px 32px 0;
    }

    .homeContainer {
        max-width: 704px;
    }

    .right {
        gap: 16px;
    }

    .logoHeader {
        --logo-text-size: 28px;
        --logo-icon-w: 18px;
        --logo-icon-h: 16px;
    }

    .authInline {
        display: flex;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 16px 64px 0;
    }

    .homeContainer {
        max-width: 1216px;
    }

    .right {
        gap: 0;
    }

    .authInline {
        margin-left: 142px;
    }

    .navInline,
    .authInline {
        display: flex;
    }

    .burgerBtn {
        display: none;
    }
}