.authNav {
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: var(--auth-fl-d, row);
}

.link {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 30px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--auth-link-w, auto);
}

.logIn {
    border: var(--auth-login-border, none);
    color: var(--color-text-secondary);
    padding: 15px 35px;
    background-color: var(--color-accent);
    transition: background-color 0.3s ease;
}

.logIn:hover,
.activeLogIn {
    background-color: var(--auth-login-hover, var(--color-accent-hover));
    color: var(--auth-login-hover-color, var(--color-text-secondary));
}

.register {
    color: var(--color-accent);
    padding: 15px 20px;
    background-color: var(--color-accent-light);
    transition: background-color 0.3s ease;
}

.register:hover,
.activeRegister {
    background-color: var(--color-accent-light-hover);
}