.container {
    max-width: 335px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.petBlock {
    height: 214px;
}

.dogImg {
    width: 70%;
    object-position: 50% 25%;
    position: absolute;
    left: 50px;
}

.formContainer {
    padding: 28px 20px;
    background-color: var(--color-text-secondary);
    border-radius: 30px;
}

.titleWrap {
    display: flex;
    gap: 8px;
    align-items: flex-end;
    margin-bottom: 24px;
}

.text {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28;
    color: rgba(43, 43, 42, 0.4);
}

@media screen and (min-width: 768px) {
    .container {
        max-width: none;
        width: 704px;
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 16px;
    }

    .petBlock {
        height: 248px;
    }

    .dogImg {
        left: auto;
        right: 204px;
        width: 300px;
        height: 100%;
        object-position: 50% 20%;
    }

    .formContainer {
        padding: 40px 136px;
        border-radius: 60px;
    }

    .titleWrap {
        margin-bottom: 40px;
    }

    .title {
        font-size: 32px;
    }

    .text {
        font-size: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        width: 1216px;
        flex-direction: row;
        gap: 32px;
    }

    .petBlock {
        height: 654px;
    }

    .dogImg {
        right: 40px;
        width: 512px;
        height: 660px;
        object-position: top center;
    }

    .formContainer {
        padding: 60px 80px;
        width: 592px;
    }
}