.menu {
    display: flex;
    gap: 10px;
    width: var(--menu-w, auto);
}

.link {
    font-size: var(--menu-link-font, 16px);
    font-weight: 500;
    text-decoration: none;
    color: var(--menu-link-color, var(--color-text));

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 30px;
    border: var(--menu-link-border, 1px solid rgba(38, 38, 38, 0.15));
    transition: all .3s ease;
}

.link:hover,
.active {
    border: var(--menu-link-hover-border, 1px solid var(--color-accent));
    background-color: var(--menu-link-hover-bg, var(--color-bg));
    color: var(--menu-link-hover-color, var(--color-text));
}